 /* General settings */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header, main {
    margin: 0 auto;
    width: 1350px;
}
main {
    padding-top: 80px;
}


#localisation-icon, #marseille, #famous, footer {
    background-color: #f2f2f2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-weight: 750;
    font-size: 1.4em;
    padding-bottom: 10px;
}

h3, #inscription, #city-name, #research-btn, .filter-list, #filtre {
    font-family: 'Raleway', sans-serif;
    font-weight: 750;
    font-size: 1.3em;
}
p {
    font-size: 1.1em;
}

.card {
    border-radius: 20px;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.10);
    background-color: white;
}

.logo, #info-circle, .good, #inscription {
    color: #0065FC;
}

.empty, .bad {
    color: #f2f2f2;
}
/*********** NAVBAR ********************************************************************************************************/

nav {
    width: 1400px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
    padding-top: 10px;
}

#right-side {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li a {
    margin-right: 40px;
    padding: 20px 15px 0 15px;
}

#inscription {
    padding: 15px 10px 0 10px;
    margin-right: 75px;
}


/* Sélection ville ********************************************************************************************************************/
#main-title {
    margin-bottom: 0;
    padding: 0;
}

#research p {
    margin-top: 8px;
}

.city-select {
    display: flex;
}

#localisation-icon {
    border-radius: 16px 0px 0px 16px;
    padding: 17px;
}

#city-name {
    border: 1px solid #f2f2f2;
    padding: 15px;
}

#research-btn {
    border: none;
    background-color: #0065FC;
    color: white;
    padding: 15px;
    border-radius: 0px 16px 16px 0px;
}

#loupe {
    display: none;
}

/* Filtre  *******************************************************************************************************/

#filter {
    margin: 14px auto;
}

.filter-list {
    border-radius: 50px;
    padding: 10px;
    background: linear-gradient(90deg,#DEEBFF 0%, #ffffff 20%, #ffffff 100%);
    border: 2px solid #f2f2f2;
    margin: 10px 15px;
    transition: 1s ease;
    position: relative;
}



.logo  {
    border-radius: 50%;
    padding: 12px;
    background-color: #DEEBFF;
    position: relative;
    left: -12px;
}

#fam {
    padding: 12px 15px;
}

.filter-type {
    font-weight: bold;
    padding: 10px 10px 10px 0;
}

#info-circle {
    text-align: center;
}

#info-circle i {
    font-size: 0.9em;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    padding: 7px 12px;
}

#result {
    padding: 10px 0;
}
 /* Hébergements  **********************************************************************************************/

#accomodations {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 100%;
}


#marseille {
    margin-right: 40px;
    border-radius: 40px;
    padding: 25px;
    width: 830px;
    display: flex;
    flex-direction: column;

}

#marseille h1, #plus {
    padding-left: 10px;
}

#cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#cards .card {
    width: 240px;
    height: 190px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 5px solid white;
}

#cards img {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-height: 110px;
    object-fit: cover;
    flex-shrink: 1;
}

.card-body {
    padding-left: 10px;
    justify-content: center;
    height: 75px;
    font-size: 0.75em;
}

.card-body h3, .card-body p {
    margin: 10px auto;
}


/* Populaire ***************************************************************************************************************/

#famous {
    padding: 25px;
    max-width: 420px;
    height: 625px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

#most-famous {
    min-width: 85%;
    display: flex;
    justify-content: space-between;
}

#famous-logo {
    transform: scale(1.8);
    padding: 22px 10px 0 0;

}
#wanted {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#wanted .card {
    display: flex;
    width: 335px;
    height: 135px;
    overflow: hidden;
    border: 5px solid white;
}

#wanted img {
    box-sizing: border-box;
    display: block;
    object-fit: cover;
    height: 100%;
    width: 128px;
}

#wanted .card-body {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* Activités **********************************************************************************************************************/

#activities {
    margin: 40px 0;
}

#spots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    height: 550px;
}

#spots .card {
    display: flex;
    flex-direction: column-reverse;
    width: 300px;
    overflow: hidden;
    margin: 20px 50px 20px 0;
    justify-content: flex-start;
}


#spots .card-body {
    height:60px;
    flex-shrink: 0;
}

#spots .card-title {
    padding: 10px 0 0 10px;
}

#spot1 .card , #spot4 .card {
    height: 445px;
}

#spot2 .card{
    height: 240px;
}

#spot3 .card {
    height: 165px;
}

#spot5 .card {
    height: 195px;
}

#spot6 .card {
    height: 210px;
}

#spots img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 1;
}







/**FOOTER********************************************************************************************************************************/

footer {
    width: 100vw;
    height: 220px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.footer-info {
    padding-top: 30px;
    width: 450px;
}

footer ul {
    padding-left: 0;
}
.footer-info li {
    padding-top: 15px;
}


/* Animations liens  ***********************************************************************************************************/

nav a:hover, nav a:focus {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

#research-btn:hover {
    color: #0065FC;
    background-color: white;
    border: #0065FC 1px solid;
    transition: 0.5s ease-in-out;
}

#accomodations a:hover, #activities a:hover 
{
    transform: scale(1.05);
    transition: ease, 0.5s;
}

.filter-list:hover {
    background:#DEEBFF;
    transition: 0.75s ease-in-out;
}

/* MEDIA QUERIES  ****************************************************************************************************************/

@media all and (max-width: 767px)
{
    main, header {
        width: 100%;
    }
    h1 {
        font-size: 1.2em;
    }
    h3, #inscription, #city-name, #research-btn, .filter-list, #filtre {
        font-size: 1.1em;
    }

 
    nav {
        width: 100%;
        height: 115px;
        flex-direction: column;
        position: initial;
    }
    
    #inscription {
        position: absolute;
        left: 70%;
    }

    nav img {
        position: absolute;
        left: 5%;
    }

    nav ul {
        width: 100%;
        padding: 70px 0 0 0;
    }

    nav li {
        width: 50%;
        text-align: center;
        padding-bottom: 18px;
        border-bottom: 3px solid #DEEBFF;
    }

    nav li a {
        margin: 0;
        padding: 0 0 15px 0;
    }

    nav li:hover {
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
    }

    nav li a:hover {
        border-top: none;
    }

    main {
        padding-top: 20px;
    }

    #city-select {
        width: 60%;
    }

    #rechercher {
        display: none;
       }
    #loupe {
        display: block;
        border-radius: 50px;
       }
    #filtre {
        display: block;
    }

    .filter-list {
        margin-left: 0;
        margin-right: 1%;
    }


    #accomodations {
        flex-direction: column-reverse;
    }

    #marseille, #research, #activities
    {
        background-color: white;
        max-width: 100%;
        padding-left: 5%;

    }
    
    #marseille, #famous {
        flex-direction: column;
        padding: 25px 0 0 0;
    }
    
    #marseille .card, #activities .card {
        height: 190px;
        width: 90%;
    }

    #marseille img {
        max-height: 115px;
    }
    #marseille h1, #marseille #plus, #famous h1 {
        padding-left: 5%;
    }
    #most-famous {
        padding-right: 5%;
    }

    #famous {
        border-radius: initial;
        max-width: 100%;
    }
    #wanted {
        width: 100%;
        align-items: center;
    }
    #wanted .card {
        width: 90%;
    }
    #spots {
        height: initial;
        align-items: center;
        align-items: center;
    }

    #spot1, #spot2, #spot3, #spot4, #spot5, #spot6 {
        width: 100%;
        justify-content: center;
    }
    #spots .card {
        width: 95%;
    }


    footer {
        flex-direction: column;
        height: initial;
    }
    .footer-info {
        width: 100%;
        padding-left: 2%;
    }

}


@media all and (min-width: 768px) and (max-width: 991px)
{
    main, footer {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }
    nav, header {
        width: 98%;
        padding-left: 2%;
    }
    h1 {
        font-size: 1.2em;
    }
    h3, #inscription, #city-name, #research-btn, .filter-list, #filtre {
        font-size: 1.1em;
    }
    nav {
        position: static;
    }

    #filtre {
        display: block;
    }

    #accomodations {
        width: 96%;
        flex-direction: column-reverse;
    }
    #famous, #marseille {
        max-width: 96%;
        margin-bottom: 15px;
        margin-right: 0;
    }
    #cards {
        max-width: 100%;
    }
    #famous {
        max-height: 415px;
        background-color: white;
        height: initial;
    }
    #famous-logo {
        display: none;
    }
    #wanted {
        height: initial;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #wanted .card {
        width: 30%;
    }
    #wanted img {
        width: 45%;
    }


    #marseille .card {
        width: 25%;
    }
    #activities h1 {
        padding-left: 25px;
        padding-top: 10px;
    }


    #spots {
        flex-direction: row;
        height: 100%;
        justify-content: space-around;
    }


    #spots .card {
        height: 240px;
        margin: 25px 5px;
    }
}


@media all and (min-width: 992px) and (max-width: 1350px)
{
    main, header, nav, footer {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }
    #cards .card {
        width: 40%;
    }
    #spots {
        flex-direction: row;        
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #spots .card {
        height: 240px;
        margin: 25px 10px;
    }
}