html {
    scroll-behavior: smooth;
}
 /* General settings */

body {
    font-family: 'Raleway', sans-serif;
    width: 1440px;
    margin: 0 auto;
}

main {
    padding-top: 100px;
}

#localisation-icon, #marseille, #famous, footer {
    background-color: #f2f2f2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-weight: 750;
    font-size: 1.35em;
    padding-bottom: 10px;
}

h3, #inscription, #city-name, #research-btn, .filter-list, #filtre {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}

header, main {
    margin-left: 50px;
}

.card {
    border-radius: 20px;
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.62);
    background-color: white;
}

.logo, #info-circle, .rating, #inscription {
    color: #0065FC;
}
/*********** NAVBAR **************/

nav {
    text-align: center;
    width: 1400px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
    padding-top: 10px;
}

#right-side {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li a, #inscription {
    margin-right: 40px;
    padding: 20px 5px 0 5px;
}

#inscription {
    padding-top: 15px;
}


/* Sélection ville */
#main-title {
    margin-bottom: 0;
    padding: 0;
}

#research p {
    margin-top: 8px;
}

.city-select {
    display: flex;
}

#localisation-icon {
    border-radius: 16px 0px 0px 16px;
    padding: 17px;
}

#city-name {
    border: 1px solid #f2f2f2;
    padding: 15px;
}

#research-btn {
    border: none;
    background-color: #0065FC;
    color: white;
    padding: 15px;
    border-radius: 0px 16px 16px 0px;
}

/* Filtre  */

#filter {
    margin: 14px auto;
}

.filter-list {
    border-radius: 50px;
    padding: 10px;
    background: linear-gradient(90deg,#DEEBFF 0%, #ffffff 20%, #ffffff 100%);
    border: 2px solid #f2f2f2;
    margin: 10px 15px;
    transition: 1s ease;
}


.logo  {
    border-radius: 50%;
    padding: 12px;
    background-color: #DEEBFF;
    position: relative;
    left: -12px;
}

#fam {
    padding: 12px 15px;
}

.filter-type {
    font-weight: bold;
    padding: 10px 10px 10px 0;
}

#info-circle {
    text-align: center;
}

#info-circle i {
    font-size: 0.9em;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    padding: 7px 12px;
}

#result {
    padding: 10px 0;
}
 /* Hébergements  */

#accomodations {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}


#marseille {
    border-radius: 40px;
    padding: 25px;
    width: 830px;
    display: flex;
    flex-direction: column;

}

#marseille h1, #plus {
    padding-left: 10px;
}

#cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#cards .card {
    width: 240px;
    height: 200px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 5px solid white;
}

#cards img {
    box-sizing: border-box;
    display: block;
    width: 238px;
    max-height: 120px;
    object-fit: cover;
}

.card-body {
    height: 75px;
    font-size: 0.75em;
}

.card-title, .price, .rating {
    margin: 10px 15px;
}

/* Populaire */

#famous {
    padding: 25px;
    width: 420px;
    height: 625px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

#most-famous {
    display: flex;
    justify-content: space-between;
}

#famous-logo {
    transform: scale(1.8);
    padding: 22px 10px 0 0;

}
#wanted {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#wanted .card {
    display: flex;
    width: 335px;
    height: 135px;
    overflow: hidden;
    border: 5px solid white;
}

#wanted img {
    box-sizing: border-box;
    display: block;
    object-fit: cover;
    height: 100%;
    width: 128px;
}




/* Activités */

#activities {
    margin: 40px 30px 40px 0;
}

#spots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    height: 550px;
    width: 1340px;
}

#spots .card {
    display: flex;
    flex-direction: column-reverse;
    width: 300px;
    overflow: hidden;
    margin: 25px 50px 25px 0;
    justify-content: flex-start;
}


#spots .card-body {
    height:60px;
    flex-shrink: 0;
}

#spots .card-title {
    padding: 10px 0 0 10px;
}

#spot1 .card , #spot4 .card {
    height: 445px;
}

#spot2 .card{
    height: 240px;
}

#spot3 .card {
    height: 165px;
}

#spot5 .card {
    height: 195px;
}

#spot6 .card {
    height: 210px;
}

#spots img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 1;
}







/*************************************            FOOTER             *************************** */

footer {
    height: 220px;
    display: flex;
}

.footer-info {
    min-width: 450px;
}
footer h3 {
    padding: 20px 0 0 40px;
}
.footer-info li {
    padding-top: 15px;
}


/* Animations liens  */

nav a:hover {
    color: #0065FC;
}

nav a:focus {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

#research-btn:hover {
    color: #0065FC;
    background-color: white;
    border: #0065FC 1px solid;
    transition: 0.5s ease-in-out;
}

#accomodations a:hover, #activities a:hover 
{
    transform: scale(1.05);
    transition: ease, 0.5s;
}

.filter-list:hover {
    background:#DEEBFF;
    transition: 0.75s ease-in-out;
}

